.stats-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.stat-card {
  background: #fff;
  border-radius: 18px;
  padding: 18px 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  transition: 0.3s;
}

.stat-card:hover {
  transform: translateY(-4px);
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-top h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  color: #666;
}

.card-icon {
  font-size: 21px;
}

.balance {
  color: #6d5ef8;
}

.income {
  color: #22c55e;
}

.expense {
  color: #ef4444;
}

.saving {
  color: #f59e0b;
}

.stat-card h2 {
  margin: 14px 0 6px;
  font-size: 30px;
  font-family: Arial, sans-serif;
  font-weight: 300;
}

.card-info {
  margin: 0;
  color: #888;
  font-size: 13px;
}

/* Mobile */

@media (max-width: 768px) {
  .stats-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }

  .stat-card {
    padding: 16px;
    border-radius: 16px;
  }

 .stat-card h2 {
  margin: 14px 0 6px;
  font-size: 30px;
  font-family: Arial, sans-serif;
  font-weight: 400;
}

  .card-top h4 {
    font-size: 14px;
  }

  .card-icon {
    font-size: 19px;
  }
}