.main-layout {
  display: flex;
}

.main-content {
  flex: 1;
}

.sidebar-overlay{
    display:none;
}

@media (max-width:768px){

.sidebar-overlay{

    display:block;

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.35);

    z-index:999;

}

}